---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, BASE } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';


// <!-- FROM BLOG - REMOVE -->
let posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
posts = posts.filter((post) => !post.data.draft);
posts = posts.slice(0, 3);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<!-- FROM BLOG - REMOVE -->
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	
	<body>
		<Header />
		<main>
			<h1>🧟 Hello, zombie shooter lover!</h1>
			<p>
				MirrorSoul is a post-apocalyptic zombie shooter with survival and RPG elements. The game is designed for mobile devices and features a third-person perspective. The game is developed using Unreal Engine 5 and is available for Android and iOS platforms.
			</p>
			<h2 style="margin-bottom: 1em;">Latest updates</h2>
			<!-- FROM BLOG - REMOVE -->
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`${BASE}/blog/${post.slug}/`}>
								<img width={720} height={360} src={post.data.heroImage} alt="" />
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
			<hr/>
			<a href=`${BASE}/blog`>Read more</a>
		</main>
		<Footer />
	</body>
</html>
