---
import HeaderLink from './HeaderLink.astro';
import { BASE, SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href=`${BASE}/`>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href=`${BASE}/`>Home</HeaderLink>
			<HeaderLink href=`${BASE}/blog`>Blog</HeaderLink>
			<HeaderLink href=`${BASE}/about`>About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://discord.gg/EWvvZgHUKG" target="_blank" rel="noopener noreferrer">
				<span class="sr-only">Go to  Mirror Soul game Discord</span>
				<svg width="32px" height="32px" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="#currentColor" fill-rule="nonzero"> </path> </g> </g></svg>
			</a>		
			<a href="https://forum.playmirrorsoul.ru/" target="_blank">
				<span class="sr-only">Go to Mirror Soul Forum</span>
				<svg width="32px" height="32px" viewBox="-4.8 -4.8 57.60 57.60" fill="currentColor" xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="1.248" transform="matrix(-1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.24199 26.4192C9.37704 26.5551 9.42249 26.7564 9.35899 26.9372L9.04753 27.8242C8.70721 28.7933 8.32807 29.6686 7.94869 30.4389C9.12478 30.1237 10.2749 29.6537 11.1431 28.9757L11.8278 28.441C11.969 28.3307 12.1583 28.3044 12.3242 28.372L13.1287 28.6997C15.149 29.5228 17.4898 30 20 30C24.0274 30 27.5965 28.7732 30.1137 26.8853C32.6303 24.9978 34 22.5431 34 20C34 17.4569 32.6303 15.0022 30.1137 13.1147C27.5965 11.2268 24.0274 10 20 10C15.9726 10 12.4035 11.2268 9.88629 13.1147C7.36971 15.0022 6 17.4569 6 20C6 22.0684 6.89945 24.0606 8.5795 25.7522L9.24199 26.4192ZM6.63696 32.7576C6.04508 32.8523 5.51332 32.91 5.085 32.9451C4.65926 32.9801 4.40822 32.4819 4.65098 32.1304C4.87529 31.8056 5.14301 31.394 5.43023 30.9028C5.99192 29.9423 6.62822 28.6774 7.16049 27.1616C5.17509 25.1626 4 22.6842 4 20C4 13.3726 11.1634 8 20 8C28.8366 8 36 13.3726 36 20C36 26.6274 28.8366 32 20 32C17.2389 32 14.6411 31.4754 12.3741 30.5519C10.6896 31.8675 8.39738 32.4761 6.63696 32.7576Z" fill="#333333"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2988 30.8717C21.5494 30.9563 20.7817 31.0001 20 31.0001C19.9399 31.0001 19.88 30.9998 19.8201 30.9993C21.9473 34.0883 26.2448 36.2001 31.2 36.2001C33.4089 36.2001 35.4871 35.7805 37.3007 35.0417C38.4838 35.9656 40.0417 36.4537 41.3574 36.7115C41.9428 36.8262 42.4803 36.8953 42.9154 36.9369C43.3407 36.9776 43.5944 36.4798 43.3571 36.1246C43.1384 35.7973 42.8807 35.383 42.6115 34.8901C42.2283 34.1881 41.8218 33.3266 41.4716 32.3293C43.0599 30.7302 44 28.7475 44 26.6001C44 22.1692 39.9975 18.4394 34.5562 17.3335C34.792 18.0278 34.9377 18.7481 34.984 19.4875C36.5555 19.908 37.9398 20.5785 39.051 21.4119C40.9885 22.865 42 24.7198 42 26.6001C42 28.1316 41.3356 29.6282 40.0526 30.9199L39.3901 31.587C39.2551 31.7229 39.2096 31.9241 39.2731 32.105L39.5846 32.992C39.7467 33.4538 39.9197 33.8895 40.0972 34.2973C39.5092 34.0802 38.9679 33.806 38.5317 33.4654L37.847 32.9307C37.7059 32.8205 37.5165 32.7941 37.3506 32.8617L36.5461 33.1895C34.9792 33.8278 33.1579 34.2001 31.2 34.2001C28.0563 34.2001 25.2871 33.2419 23.349 31.7883C22.9617 31.4978 22.6114 31.1913 22.2988 30.8717Z" fill="#333333"></path> </g></svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
